#page-header {
    width: 100%;
    height: 262px;
    overflow:visible;
}

.group {
    float: left;
    z-index: -1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.group {
    border: 1px solid #999;
    height: auto;
    min-width: 160px;
    padding: 5px;
    margin: 5px;
}

.group .heading {
    margin: 0;
    padding: 4px;
    background-color: #CCC;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.group ul {
    list-style-type: none;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.ui.form {
    /*semantic ui font size*/
    font-size: 0.8em;
}

#legend {
    float: right;
    width: 370px;
}

.query_column_select {
    float: right !important;
    background: #e0e1e2;
    padding: 10px;
    color: #626162;
}

.query_specificity{
    float: right !important;
    background: #e0e1e2;
    padding: 10px 2px;
    color: #626162;
    min-width: 1px;
}

.delete_filter_placeholder {
    background: white !important;
    border: none;
    padding: 5px;
}

#search_query_builder{
    position: relative;
    z-index: 99;
}

.search_submit_btn {
    float: right;
    clear: right;
    background: #bbbcbe;
    padding: 10px 2px;
    color: #626162;
    border: 1px solid #999;
    width: 225px;
    margin: 5px;
    position: relative;
    z-index: 99;
}

.clear_filters{
    float: right;
    background: #bbbcbe;
    padding: 10px 2px;
    color: #626162;
    border: 1px solid #999;
    width: 90px;
    margin: 5px;
    position: relative;
    z-index: 99;
}

#search {
    /* clear: right; */
    float: right;
    width: 200px;
}

.add_filter{
    clear: right;
}

#search p {
    font-size: 0.8em;
    background-color: rgb(214, 214, 214);
    padding: 2px 5px 2px 5px;
    color: #444444;
    border: 0.8px solid #444444;
    font-weight: bold;
    border-radius: 3px;
    display: inline-block;
    margin: 0px 2px 5px; 
}
#search i {
    color: #868686
}

#search i:hover {
    color: #444444;
}

#search input[type=text] {
    border: none;
    width: 100%;
}

#controls span {
    float: left;
}

#controls .search {
    float: right;
}

#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #868686ab;
    color: #444444;
    border: #444444 solid 2px;
    border-radius: 6px;
    padding: 10px 5px;
}

#data-table {
    font-size: 0.8em;
    position: relative;
}

#data-table th {
    height: auto;
    padding: 0;
}

#data-table td {
    height: auto;
    padding: 0;
}

#data-table div>span {
    font-size: 1.29em; 
}

#page-footer {
    margin-top: 35px;
    width: 100%;
    height: 86px;
    text-align: center;
    background-color: #e5e5e5;
}

.hide {
    display: none;
}
